<h1>Welcome to Mario's Fine Imports!</h1>
<%= link_to 'All Products', products_path %>
<h2>Our Newest Products:</h2>
<% @products.most_recent.each do |prod| %>
<li><%= link_to prod.name, prod %></li>
<% end %>
